.Todo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edeef0;
    color:  black;
    border-radius: 30px;
}

.Todo p{
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 12px;
    font-size: 17px;
    padding-left: 20px;
}
.Todo .btn{
    display: flex;
    gap: 30px;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 15px 35px;
    border-radius: 30px;
    background-color: purple;
    color: #fff;
    font-size: 18px;
    transition: all .25s ease;
}